/* ============================================================

Type

============================================================ */

@font-face {
	@include webFont($priFontFamily, $priFontName);
	font-weight: normal;
	font-style: normal;
}


/* 
====================================================== HEADINGS
*/

h1, h2, h3, h4, h5 ,h6 {
	font-family: $priFontFamily;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: $h1Size;
	color: $h1Color;
	letter-spacing: $h1Spacing;
	line-height: $h1LineHeight;
	font-weight: $h1FontWeight;
}




h2 {
	font-size: $h2Size;
	color: $h2Color;
	letter-spacing: $h2Spacing;
	line-height: $h2LineHeight;
	font-weight: $h2FontWeight;
}

h3 {
	font-size: $h3Size;
	color: $h3Color;
	letter-spacing: $h3Spacing;
	line-height: $h3LineHeight;
	font-weight: $h3FontWeight;
}

h4 {
	font-size: $h4Size;
	color: $h4Color;
	letter-spacing: $h4Spacing;
	line-height: $h4LineHeight;
	font-weight: $h4FontWeight;
}

h5 {
	font-size: $h5Size;
	color: $h5Color;
	letter-spacing: $h5Spacing;
	line-height: $h5LineHeight;
	font-weight: $h5FontWeight;
}

h6 {
	font-size: $h6Size;
	color: $h5Color;
	letter-spacing: $h6Spacing;
	line-height: $h6LineHeight;
	font-weight: $h6FontWeight;
}

// /* 
// ====================================================== OTHER TYPE
// */

a {
   display:block;
   position:relative;
}

p, ol, ul, dl, address, time {
	font-family: $gFont; 
	font-weight: 400;
	font-size: $pSize;
	line-height: $pLineHeight;
	letter-spacing: $pSpacing;

	a {
		text-decoration:none;
		font-style:normal;
	}
}

.subText {
	color: $lightText;
	font-size: 0.75em;
}

// custom styles
.share {
	color: $shareText;
	font-size: 0.75em;
	text-transform: uppercase;
}


