/* ============================================================

Variables

============================================================ */

//-----------------------------------| Testing Colors

$bA: #bada55; // Green
$f0: #00ff00; // Pink





/* 
====================================================== DEFAULTS
*/

//-----------------------------------| Image Paths

$globalDir: 'global/';    // Global
$spriteDir: 'img/sprite/';   // Sprites
$bgDir: 'img/backgrounds/';  // Backgrounds


//-----------------------------------| Global Styles

$bodyBg: #fff; // Site Backgrounds


//-----------------------------------| Default Type

// Default Text
// $gFont:;
// $gFontSize:;
// $gFontColor:;
// $gLineHeight:;

// Default Headings
// $headFont:;
// $headFontSize:;
// $headFontColor:;
// $headFontWeight:;

/* 
===============================================================
*/





/* 
====================================================== TYPE
*/

//-----------------------------------| Headings

// H1
$h1Size: 2.2em;
$h1Color: #3c3c3c;
$h1Spacing: .09em;
$h1LineHeight: 1.2em;
$h1FontWeight: 200;


// H2
$h2Size: 1.7em;
$h2Color: #3c3c3c;
$h2Spacing: .09em;
$h2LineHeight: 1.2em;
$h2FontWeight: 200;

// H3
$h3Size: 1.4em;
$h3Color: #3c3c3c;
$h3Spacing: .05em;
$h3LineHeight: 1.2em;
$h3FontWeight: 200;

// H4
$h4Size: 1.1em;
$h4Color: #3c3c3c;
$h4Spacing: .05em;
$h4LineHeight: 1.2em;
$h4FontWeight: 200;

// H5
$h5Size: 0.95em;
$h5Color: #3c3c3c;
$h5Spacing: .02em;
$h5LineHeight: 1.2em;
$h5FontWeight: 200;

// H6
$h6Size: 0.68em;
$h6Color: #3c3c3c;
$h6Spacing: .05em;
$h6LineHeight: 1.2em;
$h6FontWeight: 200;


//-----------------------------------| Paragraphs

// Paragraphs
$pSize: 08em;
$pSpacing: .005em;
$pLineHeight: 1.6em;
$textColor: #3c3c3c;

// Paragraph Links
// $pLinkColor:;
// $pLinkWeight:;
// $pLinkTextDecoration:;
// $pLinkStyle:;

/* 
===============================================================
*/





/* 
====================================================== COLORS
*/

$w: #fff;
$b: #000;

//-----------------------------------| Backgrounds

$headBg: #171716;

//-----------------------------------------------------------------------------Place All Colors HERE

$bGreen: #507a40;
$bBlack: #101010;

// Mobile Menu Styles
$menuBase: #171716;
$menuBorder: #1f1f1f;

// crumbs
$crumbs: #737373;

$gBorder: #dbdada;

$blogNavText: #4c4c4c;

$blogNavBorder: #3c3c3c;

$footerText: #575757;

$footerBorder: #2c2c2a;

$darkInputBackground: #242424;
$darkInputColor: #505050;
$darkInputBorder: #333333;

$sidebarTopBorder: #262626;

$sidebarCatBg: #1d1d1d;
$sidebarCatColor: #9b9b9b;

//-----------------------------------| Element Bgs
//-----------------------------------| Buttons

//-----------------------------------| Inputs
//-----------------------------------| Borders

/* 
===============================================================
*/
