/* ============================================================

Variables

============================================================ */

//-----------------------------------| Testing Colors

$bA: #bada55; // Green
$f0: #00ff00; // Pink





/* 
====================================================== DEFAULTS
*/

//-----------------------------------| Image Paths

$globalDir: 'global/';    // Global
$spriteDir: 'img/sprite/';   // Sprites
$deleteDir: 'img/delete/';   // delete
$bgDir: '../img/backgrounds/';  // Backgrounds
$fontDir: '../fonts/'; // Fonts

//-----------------------------------| Global Styles

$bodyBg: #fff; // Site Backgrounds

/* 
====================================================== Colors
*/

$w: #fff;
$b: #000;

$bodyBg: #e2d9d0;

// input colors
$darkInputBg: #1c282e;
$darkInputText: #d2cecb;

// nav
$gNavText: #d0ccca;

// Blue Dark text
$darkBlueHeader: #1c282e;
$blueHeader: #323e44;
$textColor: #777777;
$lightText: #b3aca9;
$blueAuthor: #1789e7;


$headerBorder: #d3cbc2;
$darkBorderColor: #bab3ad;
$darkBorderColor: #ebe6df;


$footerBg: #37454c;


//-----------------------------------| Default Type

// Default Text
$gFont: 'Istok Web', sans-serif;
$gFontSize: .8em;
$gFontColor: $textColor;
$gLineHeight: 1em;



// heading font
$priFontFamily: 'caecilia_lt_std45_bold'; 
$priFontName: 'caecilialtstd-bold-webfont'; 

// Default Headings
$headFont: $priFontFamily;
$headFontSize: 1em;
$headFontColor: $darkBlueHeader;
$headFontWeight: normal;

/* 
===============================================================
*/





/* 
====================================================== TYPE
*/

//-----------------------------------| Headings

// $h1Size: 3.8em;
// $h2Size: 1.3em;
// $h2Size: 1.3em;

// H1
$h1Size: 1.6em;
$h1Color: $headFontColor;
$h1Spacing: .025em;
$h1LineHeight: 2.2em;
$h1FontWeight: normal;


// H2
$h2Size: 1em;
$h2Color: $headFontColor;
$h2Spacing: .005em;
$h2LineHeight: 2.2em;
$h2FontWeight: normal;


// H3
$h3Size: .8em;
$h3Color: $headFontColor;
$h3Spacing: .010em;
$h3LineHeight: 2.2em;
$h3FontWeight: normal;


// H4
$h4Size: .8em;
$h4Color: $headFontColor;
$h4Spacing: .010em;
$h4LineHeight: 2.2em;
$h4FontWeight: normal;



// H5
$h5Size: .8em;
$h5Color: $headFontColor;
$h5Spacing: .010em;
$h5LineHeight: 2.2em;
$h5FontWeight: normal;



// H6
$h6Size: .8em;
$h6Color: $headFontColor;
$h6Spacing: .010em;
$h6LineHeight: 2.2em;
$h6FontWeight: normal;






//-----------------------------------| Paragraphs

// Paragraphs
$pSize: .70em;
$pSpacing: .010em;
$pLineHeight: 1.1em;
$textColor: $gFontColor;

// Paragraph Links
$pLinkColor: $blueAuthor;
$pLinkWeight: normal;
$pLinkTextDecoration: none;
$pLinkStyle: normal;

$shareText: #908b87;

$whiteBorderColor: #dfdfdf;

/* 
===============================================================
*/





/* 
====================================================== COLORS
*/



//-----------------------------------| Backgrounds


//-----------------------------------| Element Bgs
//-----------------------------------| Buttons

//-----------------------------------| Inputs
//-----------------------------------| Borders

/* 
===============================================================
*/
